[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
anthropic = "*"
fpdf = "*"
tqdm = "*"
markdown = "*"
argparse = "*"
fitz = "*"
pymupdf = "*"
pillow = "*"
pypdf = "*"
reportlab = "*"

[dev-packages]

[requires]
python_version = "3.12"
